
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  text-align: center;
}
img{
  width: 150px;
  margin-bottom: 2rem;
}
.input{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 400px;
  margin-bottom: 2rem;
}
.input 
.siteinput,
.sizeinput{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border:2px solid black;

}
.buttons{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.buttons
 .generatebtn,
 .downloadbtn{
  padding: 8px 10px;
  color:white;
  font-weight: 500;
  border-radius: 5px;
  border: none;
 }
 .buttons .generatebtn{
  background-color: rgb(9, 110, 251);
 }
.buttons .generatebtn:disabled{
  background-color: grey;
  cursor: not-allowed;
}
.buttons .downloadbtn{
  background-color: green;
}